APP_ENV=development
SECRET_KEY=a4174bbf0dbcf2c95e10b008530579d0a0dac8230b59c6b58e4c8769847e28ed
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/taskflow
SYNC_DATABASE_URL=postgresql://user:password@localhost:5432/taskflow
JWT_SECRET_KEY=92dd31be8f4bed4f5890faa1c90a38ee7431ab7d17134cd28fe3f0c1af60784d
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=30
